.hide {
    display: none;
}
.active1 {
    background-color:cornflowerblue;
    width: 150px;
    text-align:center;
    vertical-align: middle;
    margin: 10px 10px 10px 10px;
    padding: 1px 3px 1px 3px;
    border-radius: 5px;
    box-shadow: 1px 1px 0 #cdcdcd;
    cursor: pointer;    
}
#settings label {
    color: #fff;
    width:300px;
    margin-top: 3px;
    margin-left: 10px;
    display:inline-block;
    float:left;
    padding:3px;
}
#settings input {
    height:14px;
    width:220px;
    padding:5px 8px;
    border-radius: 5px;
}
.text {
    color: #fff;
    height:14px;    
    margin: 10px 10px 10px 10px;
}
.bold {
    font-size: 1.3em;
    font-weight: bold;    
}
